@import "tailwindcss";

@theme inline {
  --color-dark1: #101026;
  --color-dark2: #1d1d2e;
  --color-lightGray: #8a8a8a;
  --color-green1: #3fffa3;
  --color-red1: #ff3f4b;
  --color-red1Hover: #d4333e;
}

body {
  background-color: var(--color-dark2);
}

button {
  cursor: pointer;
}